<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.vamos.spring.ex.mvc.repository.UserRepository">
 
 	<insert id="insertUser" parameterType="map">
 		INSERT INTO
 			`new_user`
 		(
 			`name`
 			, `yyyymmdd`
 			, `email`
 			, `introduce`
 		)
 		VALUE
 		(
 			#{name}
 			,#{birthday}
 			,#{email}
 			,#{introduce}
 		)
 		
 		
 	</insert>
 
 	<select id="selectLastUser" resultType="com.vamos.spring.ex.mvc.domain.User">
 		SELECT
 			`id`
 			,`name`
 			,`yyyymmdd`
 			,`email`
 			,`introduce`
 			,`createAt`
 			,`updateAt`
		FROM
			`new_user`
		ORDER BY
			`id` DESC
			LIMIT
			1
 	</select>
 	
 	<insert id="insertUserByObject" parameterType="com.vamos.spring.ex.mvc.domain.User"
 	useGeneratedKeys="true" keyProperty="id">
 		INSERT INTO
 			`new_user`
 		(
 			`name`
 			, `yyyymmdd`
 			, `email`
 			, `introduce`
 		)
 		VALUE
 		(
 			#{name}
 			,#{yyyymmdd}
 			,#{email}
 			,#{introduce}
 		)
 	</insert>
 	
 </mapper>