<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
	<h2 th:text="${title}">사용자 정보</h2>

	<table border="1">
		<tr>
			<th>id</th>
			<td th:text="${result.id}">25</td>
		</tr>
		<tr>
			<th>이름</th>
			<td th:text="${result.name}">로제</td>
		</tr>
		<tr>
			<th>생년월일</th>
			<td th:text="${result.yyyymmdd}">20030723</td>
		</tr>
		<tr>
			<th>이메일</th>
			<td th:text="${result.email}">loje@gamail.com</td>
		</tr>
	</table>
</body>
</html>